name: tests

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # We only need to test on JDK 11
        java-version: [ 11 ]
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK21 for building project
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Build project
        # We need to build the agent first, because the tests depend on it
        run: mvn clean install -DskipTests

      - name: Setup JDK${{ matrix.java-version }} for running tests
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Run tests
        run: mvn surefire:test
